
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F5F9;
  }
.icon{
    display: flex;
    border-radius: 12px;
    background-color: #e1e8efe7;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
}

.icon:hover{
    cursor: pointer;
    background-color:#e1e8effb ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.icon-size{
    width: 24px;
    height: 24px;
}

.icon p{
    margin: 0;
}

.active{
    background:linear-gradient(to right, #FF9C1A,#EC1B09);
    color: #FFFFFF;
}

.card-effect{
    background-color: #ffffffa4;
    border-radius: 12px;
    width: fit-content;
    padding: 8px 24px;
}

.mode{
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 28px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode:hover{
    cursor: pointer;
}

.logo {
    background: linear-gradient(to bottom, #FF9C1A, #EC1B09);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  